<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Math</title>
  </head>
  <body>
    <h1>Math</h1>
    <form action="/math-results" method="post">
      <label for="num1">Number 1:<input type="text" name="num1" /></label><br />
      <label for="num2">Number 2:<input type="text" name="num2" /></label><br />
      <label for="operation"
        >operation:<input type="text" name="operation" /></label
      ><br />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
